@import "tailwindcss";
/* Para no instalar PostCSS (ya que tailwind 4.1.7 no reconoce automaticamente el archivo tailwind.config.js), se vio como alternativa 
utilizar temas personalizados. */
/* http://tailwindcss.com/docs/theme */
@theme {
 /* colores base */
  --color-primary: oklch(78.46% 0.084 275.25); /* #A9B5EF */
  --color-primary-400: oklch(55.34% 0.185 267.01); /* #4267DD */
  --color-primary-500: oklch(34.55% 0.1 267.01); /* #2C4692 */

/* modo claro */
  --color-light-background: oklch(78.46% 0.084 275.25); /* #A9B5EF */
  --color-light-acceptbutton: oklch(55.34% 0.185 267.01); /* #4267DD */
  --color-light-cancelbutton: oklch(34.55% 0.1 267.01); /* #2C4692 */
  --color-light-logo: oklch(0% 0 0); /* #000000 */
  --color-light-text: oklch(0% 0 0); /* #000000 */

    /* modo oscuro */
  --color-dark-background: oklch(55.34% 0.185 267.01); /* #4267DD */
  --color-dark-acceptbutton: oklch(78.46% 0.084 275.25); /* #A9B5EF */
  --color-dark-cancelbutton: oklch(27.41% 0.108 267.01); /* #1A267D */
  --color-dark-logo: oklch(92.53% 0.034 273.48); /* #DADEF9 */
  --color-dark-text: oklch(100% 0 0); /* #FFFFFF */

/* tipografia de letra */
  --font-family-inter: 'Inter', sans-serif;

/* espaciados */
  --spacing-0: 0px;
  --spacing-espaciado-sm: 8px;
  --spacing-espaciado-md: 16px;
  --spacing-espaciado-lg: 32px;

/* tamaño de fuente */
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-xl: 24px;
}
